@import "tailwindcss";

:root {
  --background: #050509;
  --foreground: #f4f4f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), system-ui, -apple-system, BlinkMacSystemFont,
    "SF Pro Text", "SF Pro Display", sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050509;
    --foreground: #f4f4f5;
  }
}

body {
  background: radial-gradient(circle at top, #020617 0, #020617 30%, #020617 60%)
      fixed,
    radial-gradient(circle at bottom, #020617 0, #020617 30%, #020617 60%) fixed;
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
